{% extends "base.html" %}
{% from "_macros.html" import render_field, ingredient_field, form_button, step_field %}

{% block content %}
<datalist id="quantity_datalist">
    {% for entry in quantities %}
    <option value="{{ entry }}">
    {% endfor %}
</datalist>
<datalist id="unit_datalist">
    {% for entry in units %}
    <option value="{{ entry }}">
    {% endfor %}
</datalist>
<datalist id="ingredient_datalist">
    {% for entry in ingredients %}
    <option value="{{ entry }}">
    {% endfor %}
</datalist>

<div class="container">
    <h2>{{ title }}</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.recipe, placeholder="Recipe Name") }}
        {{ render_field(form.description, placeholder="Description") }}
        {{ render_field(form.servings, placeholder="Servings") }}
        <div id="ingredient">
          <div class="form-row" id="ingredient-row-0">
            {% for section in form.ingredient %}
            {{ ingredient_field(section.quantity, placeholder="Quantity", list="quantity_datalist") }}
            {{ ingredient_field(section.unit, placeholder="Unit", list="unit_datalist") }}
            {{ ingredient_field(section.ingredient, placeholder="Ingredient", list="ingredient_datalist") }}
            {% endfor %}
            {{ form_button("Add", "btn-success", "ibtnIngredientAdd") }}
            {{ form_button("Delete", "btn-danger", "ibtnIngredientDelete") }}
          </div>
        </div>
        <div id="step">
          <div class="form-row" id="step-row-0">
            {% for section in form.step -%}
            {{ step_field(section.step_number, div_style="col-sm-1", value="1", readonly=true) }}
            {{ step_field(section.step_text, div_style="col-sm-5", placeholder="Step") }}
            {% endfor %}
            {{ form_button("Add", "btn-success", "ibtnStepAdd") }}
            {{ form_button("Delete", "btn-danger", "ibtnStepDelete") }}
          </div>
        </div>
        {{ render_field(form.comments, placeholder="Comments") }}
        {{ render_field(form.source, placeholder="Source") }}
        {{ form.submit(class="btn btn-success") }}
    </form>
{% endblock %}