{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.recipe.label }}
        {{ form.recipe(size=32) }}<br>
        {% for error in form.recipe.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}
        {{ form.description(size=32) }}<br>
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.servings.label }}
        {{ form.servings(size=32) }}<br>
        {% for error in form.servings.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <div id="ingredient">
        {{ form.ingredient.label }}
        {% for part in form.ingredient %}
            <p>{{ part.quantity(list="quantity_datalist") }}{{ part.unit(list="unit_datalist") }}{{ part.ingredient(list="ingredient_datalist") }}
                <datalist id="quantity_datalist">
                    {% for entry in quantities %}
                    <option value="{{ entry }}">
                    {% endfor %}
                </datalist>
                <datalist id="unit_datalist">
                    {% for entry in units %}
                    <option value="{{ entry }}">
                    {% endfor %}
                </datalist>
                <datalist id="ingredient_datalist">
                {% for entry in ingredients %}
                <option value="{{ entry }}">
                {% endfor %}
                </datalist>
                {% for error in form.ingredient.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            {{ part.hidden_tag() }}
        {% endfor %}
        <input type="button" id="addIngredient" class="ibtnAdd btn btn-md btn-success btn-sm"  value="Add">
        <input type="button" id="delIngredient" class="ibtnDel btn btn-md btn-danger btn-sm"  value="Delete">
    </p>
    </div>
    <p>
        {{ form.comments.label }}<br>
        {{ form.comments(rows='7', cols='78') }}<br>
        {% for error in form.comments.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.source.label }}
        {{ form.source(size=64) }}<br>
        {% for error in form.source.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}