{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Cookbook{% else %}Welcome to Cookbook{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Cookbook</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

    <script>
        $(document).ready(function () {
            var ingredientNum = 1;

            $("#ingredient").on("click", ".ibtnAdd",function(event) { 
            var newRow = $('<div class="row" id="ingredient-row-'+ ingredientNum + '">');
            var cols = "";

            cols += '<div class="form-group col-sm-2"><div class="form-group required"><label class="control-label invisible" for="ingredient-' + ingredientNum + '-quantity">Quantity</label><input class="form-control" id="ingredient-' + ingredientNum + '-quantity" list="quantity_datalist" name="ingredient-' + ingredientNum + '-quantity" placeholder="Quantity" required="" type="text" value=""></div></div>';
            cols += '<div class="form-group col-sm-2"><div class="form-group required"><label class="control-label invisible" for="ingredient-' + ingredientNum + '-unit">Unit</label><input class="form-control" id="ingredient-' + ingredientNum + '-unit" list="unit_datalist" name="ingredient-' + ingredientNum + '-unit" placeholder="Unit" required="" type="text" value=""></div></div>';
            cols += '<div class="form-group col-sm-2"><div class="form-group required"><label class="control-label invisible" for="ingredient-' + ingredientNum + '-ingredient">Ingredient</label><input class="form-control" id="ingredient-' + ingredientNum + '-ingredient" list="ingredient_datalist" name="ingredient-' + ingredientNum + '-ingredient" placeholder="Ingredient" required="" type="text" value=""></div></div>';
            cols += '<div class="form-group col-sm-1"><div class="form-group"><label class="control-label invisible">Add</label><input class="form-control ibtnAdd btn btn-md btn-success btn-sm" required="" type="button" value="Add"></div></div>';
            cols += '<div class="form-group col-sm-1"><div class="form-group"><label class="control-label invisible">Delete</label><input class="form-control ibtnDel btn btn-md btn-danger btn-sm" required="" type="button" value="Delete"></div></div>';

            newRow.append(cols);
            $("#ingredient").append(newRow); 
            ingredientNum++; 
            });
        
            $("#ingredient").on("click", ".ibtnDel", function (event) {
                var $baseRow = document.getElementById("ingredient-row-0");
                var $deleteElement = $(this).closest('div.row');
                if ($deleteElement[0].id != $baseRow.id && ingredientNum >= 1) {
                    $deleteElement.remove();
                    ingredientNum -= 1
                }
            });

            var stepNum = 1;

            $("#step").on("click", ".ibtnStepAdd",function(event) { 
            var newRow = $('<div class="row" id="step-row-'+ stepNum + '">');
            var cols = "";

            cols += '<div class="form-group col-sm-1"><div class="form-group  required"><label class="control-label invisible" for="step-' + stepNum + '-step_number">Number</label><input class="form-control" id="step-' + stepNum + '-step_number" name="step-' + stepNum + '-step_number" readonly="" required="" type="text" value="' + (stepNum+1)  + '"></div></div>';
            cols += '<div class="form-group col-sm-2"><div class="form-group required"><label class="control-label invisible" for="step-' + stepNum + '-step">Step</label><input class="form-control" id="step-' + stepNum + '-step" name="step-' + stepNum + '-step" placeholder="Step" required="" type="text" value=""></div></div>';
            cols += '<div class="form-group col-sm-1"><div class="form-group"><label class="control-label invisible">Add</label><input class="form-control ibtnStepAdd btn btn-md btn-success btn-sm" required="" type="button" value="Add"></div></div>';
            cols += '<div class="form-group col-sm-1"><div class="form-group"><label class="control-label invisible">Delete</label><input class="form-control ibtnStepDel btn btn-md btn-danger btn-sm" required="" type="button" value="Delete"></div></div>';

            newRow.append(cols);
            $("#step").append(newRow); 
            stepNum++; 
            });
        
            $("#step").on("click", ".ibtnStepDel", function (event) {
                var $baseRow = document.getElementById("step-row-0");
                var $deleteElement = $(this).closest('div.row');
                if ($deleteElement[0].id != $baseRow.id && stepNum >= 1) {
                    $deleteElement.remove();
                    stepNum -= 1
                }
            });
        });
    </script>
{% endblock %}